* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-theme-light {
    background-color: #edf1f5;
}

.layout-topbar-button-rt {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color-secondary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: background-color $transitionDuration;

    i {
        font-size: 1.5rem;
    }

    span {
        font-size: 1rem;
        display: none;
    }
}

.topbar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transition: background-color $transitionDuration;
}

.confirmation-content {
    display: flex;
    align-items: center;
}

.login {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 800px;
}